<div class="top-bar_sub_w3layouts container-fluid">
</div>
<div class="col-md-10 top-forms text-xl-center mt-md-1 mt-5 mt-md-1 mt-5    ">
    <span>Hoşgeldin</span>
    <span class="mx-lg-4 mx-md-2 mx-1">
        <a href="login.html">
            <i class="fas fa-lock">  Giriş Yap </i>
        </a>
    </span>
    <span>
        <a href="register.html">
            <i class="far fa-user">  Kayıt Ol </i>
        </a>
    </span>
</div>